* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: whitesmoke
  }
  
  .header {
    width: 100%;
    height: 85px;
    display: block;
    background-color: #611111;
  }

  body {
    background-color: #611111;
  }
  
  .inner_header {
    width: 550px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #611111;
  }
  
  .logo_container {
    height: 100%;
    display: table;
    float: left;
    border: 10px;
  }
  
  .logo {
    vertical-align: middle;
    height: 100%;
    width: 85px;
  }
  
  .nav {
    float: right;
    height: 100%;
  }

  .nav a {
    height: 100%;
    display: table;
    float: left;
    padding-left: 20px;
    padding-bottom: 0px;
  }

  .nav a li {
    display: table-cell;
    vertical-align: middle;
    color: white;
    padding: 5px ;
  }
  
  .nav a :hover {
    background-color: grey;
  }
  
  .nav a:last-child {
    padding-right: 8px;
  }

  article{
    display:inline-flex;
    flex-wrap: wrap;
    float:left;
    /* border: 3px solid black; */
    width: 70%;
    margin-top: 2px;
  }

  aside{
    display:flex;
    flex-wrap: wrap;
    float: right;
    background-color: #611111;
    /* border: 3px solid black; */
    width: 27%;
    overflow: hidden;
    margin-top: 2px;
    color: whitesmoke;
  }

  aside li {
    padding: 10px;

  }

  aside h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px; 
  }

  aside li a :hover {
    background-color: #681313
  }
  
  h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
  }

  h4 {
    color: whitesmoke;
    line-height: 22px;
  
  }

  h3 {
    color: whitesmoke;
    line-height: 22px;
  
  }

  p {
    padding-left: 10px;
    color: whitesmoke;
  }
  
  .sub {
    text-align: center;
  }
  
  ul {
    display: table;
    overflow: hidden;
    margin: 0 auto;
  }

  .Featured {
    background-color: #611111;
    border: 0.5px solid;
    border-radius: 16px;
    height: 300px;
    width: 300px;
    overflow: hidden;
    text-align: center;
  }

  .Featured-font {
    color: white;
  }

  #slider {
    overflow: hidden;
  }

  #slider figure {
    position: relative;
    width: 500%;
    margin: 0px;
    bottom: 5px;
    left: 0px;
    animation: 33s slider infinite;
  }

  #slider figure img{
    width: 20%;
    float: left;
  }

  footer {
    background-color: #333;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer a {
    text-decoration: none;
    padding: 0px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
}

  @keyframes slider {
    0% {left: 0;}
    20% {left: 0;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}
  }

  @media screen and (max-width:700px) {
    .nav li img {
      width: 35px;
    }
  }

  @media screen and (max-width: 500px) {
    .nav li img {
      width: 20px
    }

    .inner_header {
      width: 425px
    }

    .nav a:last-child {
      padding-right: 0px;
    }

    .nav a {
      padding-left: 5px;
    }

    .Link img {
      width: 80px;
    }
  }

  @media screen and (max-width: 400px) {
    .nav li img {
      width: 20px
    }

    .inner_header {
      width: 300px
    }

    .nav a:last-child {
      padding-right: 0px;
    }

    .nav a {
      padding-left: 0px;
    }

    .Link img{
      width: 75px
    }

    aside {
      border: 2px solid black;
    }
  }


